/* General */

body {
  background-color: #09192b;
  font-family: "VT323", monospace;
  margin-top: 30px;
  margin-right: 0px;
  margin-left: 0px;
  color: white;
}

/* Navbar */
nav {
    display: flex;
    justify-content:space-around;
}

.nav-element {
  font-size: 40px;
  justify-content: center;
  align-items: center;
}

.nav-element a {
  text-decoration: none;
  color: white;
  padding-left: 20px;
}

.nav-element img {
  align-self: center;
}

.nav-element__brand{
    display:flex;
}

.nav-element__brand a{
    color: #775ADA;
    margin-left: 8px;
}

.nav-element__list {

}

/* Main */
main{
    margin-top: 75px;
    height: 100%;
}

main h1{
    font-size: 70px;
    margin-bottom: 0px;
}

#handsup{
    width: 55px;
    position: relative;
    right: 20px;
    top: 10px;
}

/* Keyword highlight */
main p img{
    position: relative;
    right: 115px;
    bottom: -6px;
    z-index: -99;
}

main .introduction__text p{
    max-width: 400px;
    color: rgba(255, 255,  255, 0.1 );
    font-size:22px;
    line-height: 23px;
}

main .introduction__text p span{
    color: white;
}

.introduction{
    display: flex;
    justify-content: space-around;
    margin: 0 55px;
}

.introduction .mercimek{
    position: relative;
    right: 50px;
}

.introduction .mercimek img{
    width: 300px;
}

#heart{
    width:25px;
    position: relative;
    bottom: 31px;
    left: 255px;
    transform: rotate(25deg);
}

/* Bigger keyword */
main h2{
    position: relative;
    left: 500px;
    bottom: 30px;
}

#bigger-keyword-highlight{
    position: absolute;
    z-index: -99;
    bottom: -27px;
    left: -50px;
}

/* Dividers */
.divider{
    display: flex;
    justify-content: center;
}